
body, html{
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'satoshi';
}
.copied{
  position: relative;
  background-color: black;
  top: -20%;
  left: -4%;
}
.modeSwitch{
position: absolute;
right: 0;

}